.main-container {
    display: flex;
    flex-direction: column;

    .section-row {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .section {
            padding: 20px;
            flex: 0 0 400px;
            display: flex;
            text-align: center;
            justify-content: center;
            margin: 10px;
        }
    }

    .mat-card {
        overflow: hidden;
        cursor: pointer;
        max-height: 500px;

        &:hover {
            box-shadow: 0 4px 1px -1px rgba(0,0,0,.2), 0 4px 1px 0 rgba(0,0,0,.14), 0 4px 3px 0 rgba(0,0,0,.12);
        }
    }


}