<div class="flex-container">
  <app-layout-header></app-layout-header>
  <div class="main-container">
    <div class="creation-container">
      <div class="controls-container">
        <mat-card>
          <h2>Taille de colis</h2>
          <form class="editor-form" (ngSubmit)="onSubmit()">
            <mat-form-field >
              <input matInput placeholder="Hauteur" [(ngModel)]="package.height" name="height">
              <span matSuffix>cm</span>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Largeur" [(ngModel)]="package.width" name="width">
                <span matSuffix>cm</span>
            </mat-form-field>
            <button type="submit" mat-raised-button>Appliquer</button>
          </form>
        </mat-card>
      </div>
      <div class="scene-container">
          <canvas #canvas >
            </canvas>
      </div>
    </div>
  </div>
  <app-layout-footer></app-layout-footer>
</div>