.creation-container {
    display: flex;
    height: 100%;
    padding: 20px;
    flex-wrap: wrap;
    overflow: hidden;

    .controls-container {
        padding: 20px;
        flex: 1;
    }

    .scene-container {
        flex: 1 0 300px;
        cursor: grab;
        max-height: 600px;
    }

    .editor-form {
        padding: 5px;
        display: flex;
        flex-direction: column;
    }

    canvas {
        width: 100%;
        height: 100%;
    }

}