/* SCSS reset */
@import "./node_modules/normalize-scss/sass/normalize/import-now";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
  font-family: Luna;
  src: url(assets/fonts/Luna.ttf) format("truetype");
}

@font-face {
  font-family: Ludicrous;
  src: url(assets/fonts/Ludicrous.ttf) format("truetype");
}

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.main-container {
  flex: 1;
  background-color: #ffeede2e;
  z-index: -1
}

.flex-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

*:focus {
  outline: none;
}
