/* SCSS reset */
@import "./node_modules/normalize-scss/sass/normalize/import-now";

@font-face {
  font-family: Luna;
  src: url(assets/fonts/Luna.ttf) format("truetype");
}


@font-face {
  font-family: Ludicrous;
  src: url(assets/fonts/Ludicrous.ttf) format("truetype");
}

html, body {
  height: 100%;
  margin: 0;
}
