.main-container {
    display: flex;
    flex-direction: column;

    .section-row {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .section {
            padding: 20px;
            flex: 0 0 400px;
            display: flex;
            text-align: center;
            justify-content: center;
            margin: 10px;
            flex-direction: column;

            h1 {
                font-size: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .section-img {
                width: 400px;
            }

            .logo_laposte {
                height: 80px;
            }
        }
    }
}