<div class="flex-container">
	<app-layout-header></app-layout-header>
	<div class="main-container">
		<div class="section-row">
			<div class="section">
				<img alt="Package picture" src="assets/images/package.png" class="section-img">
				<h1>Créez un colis à l'image de votre marque</h1>
				<h2>Utilisez notre outil de création en ligne ou faites appel à nos designers</h2>

			</div>
			<div class="section">
				<img alt="Warehouse" src="assets/images/warehouse.png" class="section-img">
				<h1>Recevez vos créations pré-affranchies</h1>
				<h2>Vos colis sont livrés avec un code-barres facilitant leur affranchissement</h2>

			</div>
			<div class="section">
				<img alt="La Poste truck" src="assets/images/laposte_truck.png" class="section-img">
				<h1>Envoyez-les par  <img src="assets/images/laposte.png" alt="Logo La Poste" class="logo_laposte" /></h1>
				<h2>Différents formats de récupération sont proposés pour s'adapter à votre besoin</h2>
			</div>
		</div>
	</div>
	<app-layout-footer></app-layout-footer>
</div>